.cooperation {
  position: relative;
}

.cooperation__text-wrapper {
  @include wrapper;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 25px;

  @include tablet {
    margin-bottom: 56px;
    padding-left: 9.2%;
    padding-right: 9.2%;
  }

  @include desktop {
    position: absolute;
    top: 90px;
    left: 7.6%;
    z-index: 1;
    width: 39.6%;
    margin: auto;
    padding: 65px 5.4% 56px 5.4%;

    background-color: $bg-white-color;
  }
}

.cooperation__title {
  @include text-options (16px, 20px, 400, $title-color, $font-title);
  width: 45%;
  text-transform: uppercase;

  @include tablet {
    width: 33%;

    font-size: 20px;
    line-height: 25px;
  }

  @include desktop {
    width: 40%;
  }
}

.cooperation__address {
  @include p-model;
  width: 50%;

  line-height: 20px;

  @include tablet {
    width: 25%;

    line-height: 20px;
    text-align: right;
  }

  @include desktop {
    width: 40%;

    text-align: left;
  }
}

.cooperation__address span {
  @include tablet {
    display: block;
    margin-top: 20px;
  }
}

.cooperation__map {
  position: relative;
  height: 363px;
  width: 100%;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-position-y: -37px;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 145px;
    left: calc(50% - 53px / 2);
    width: 55px;
    height: 53px;
    background: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: 100% auto;
  }

  @include tablet {
    height: 396px;
    margin-bottom: 64px;

    background-image: url("../img/bg-map-tablet@1x.png");
    background-position-y: -5px;

    &::after {
      top: 146px;
      left: calc(50% - 124px / 2);
      width: 124px;
      height: 124px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  @include desktop {
    width: 100%;
    margin-bottom: 0;
    background-position-y: -3px;

    background-image: url("../img/bg-map-desktop@1x.png");


    &::after {
      top: 150px;
      left: calc(73.6% - 124px / 2);
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}

.cooperation__map iframe {
  height: 363px;
  width: 100%;

  border: none;

  @include tablet {
    height: 396px;
  }
}
