.copyright {
  padding-top: 18px;

  @include tablet {
    width: 23.2%;
    padding: 0;
  }

  @include desktop {
    width: 13.2%;
  }
}

.copyright__link {
  @include text-options(16px, 16px, 400, $text-color, $font-main);
  display: flex;

  justify-content: flex-end;
  align-items: center;

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: $main-green-color;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    justify-content: space-between;
  }
}

.copyright__icon {
  position: relative;
  margin-left: auto;
  right: -8px;
  fill: #666666;
}
