.form__list {
  @include list-reset;

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.form__item {
  &:nth-child(-n+2) {
    border-bottom: 1px solid #ededed;
  }

  &--radio {
    padding-top: 26px;
  }

  &--contacts,
  &--comments,
  &--add {
    position: relative;
    padding-top: 28px;

    &::before {
      position: absolute;
      content: "";
      display: block;
      top: 42px;
      width: 100%;
      height: 3px;
      z-index: -1;
    }
  }

  &--contacts {
    &::before {
      background-image: linear-gradient(to right, $bg-white-color 68.9%, $main-green-color 68.9%);
    }
  }

  &--comments {
    @include wrapper;

    &::before {
      background-image: linear-gradient(to right, $bg-white-color 44.75%, $main-green-color 44.75%);
    }
  }

  &--add {
    padding-top: 24px;

    &::before {
      top: 37px;
      background-image: linear-gradient(to right, $bg-white-color 57.5%, $main-green-color 57.5%);
    }
  }

  @include tablet {
    &:nth-child(-n+2) {
      border-bottom: none;
    }

    &--contacts {
      padding-top: 81px;

      &::before {
        top: 97px;

        background-image: linear-gradient(to right, $main-green-color 3.9%, $bg-white-color 3.9%, $bg-white-color 81.1%, $main-green-color 81.1%);
      }
    }

    &--comments {
      padding: 0;
      padding-top: 70px;

      &::before {
        top: 87px;

        background-image: linear-gradient(to right, $main-green-color 3.9%, $bg-white-color 3.9%, $bg-white-color 37.6%, $main-green-color 37.6%);
      }
    }

    &--add {
      padding-top: 69px;

      &::before {
        top: 84px;
        background-image: linear-gradient(to right, $main-green-color 3.9%, $bg-white-color 3.9%, $bg-white-color 41.9%, $main-green-color 41.9%);
      }
    }
  }

  @include desktop {
    width: 100%;

    &--text,
    &--radio {
      width: 47.2%;
    }

    &--text {
      margin-right: auto;
      padding-left: 7.85%;
    }

    &--radio {
      padding-top: 0;
      padding-right: 7.7%;
    }

    &--contacts {
      padding-top: 30px;

      &::before {
        top: 45px;

        background-image: linear-gradient(to right, $main-green-color 4.9%, $bg-white-color 4.9%, $bg-white-color 46%, $main-green-color 46%);
      }
    }

    &--comments {
      max-width: 100%;
      padding: 0;
      margin: 0;

      &::before {
        top: 13px;

        background-image: linear-gradient(to right, $main-green-color 4.9%, $bg-white-color 4.9%, $bg-white-color 23%, $main-green-color 23%);
      }
    }

    &--add {
      &::before {
        top: 85px;

        background-image: linear-gradient(to right, $main-green-color 4.9%, $bg-white-color 4.9%, $bg-white-color 25.2%, $main-green-color 25.2%);
      }
    }
  }
}

.form__item-wrapper {
  @include wrapper-form;

  @include desktop {
    padding: 0;

    .form__item--comments & {
      @include wrapper;
    }
  }
}

.form__item-title {
  @include h3-model;
  @include wrapper;
  display: block;
  margin-bottom: 33px;

  line-height: 24px;

  .form__item--comments & {
    margin-bottom: 34px;
    padding: 0;
  }

  .form__item--add & {
    margin-bottom: 40px;
  }

  @include tablet {
    @include wrapper-form;

    .form__item--contacts & {
      margin-bottom: 82px;
    }

    .form__item--comments & {
      @include wrapper-form;
      margin-bottom: 86px;
    }

    .form__item--add & {
      margin-bottom: 71px;
    }
  }

  @include desktop {
    margin: 0;
    padding-left: 7.5%;
    padding-right: 7.5%;

    .form__item--comments & {
      margin-bottom: 79px;
      padding-left: 7.5%;
      padding-right: 7.5%;
    }
  }
}

.form__option {
  @include list-reset;
  @include wrapper;

  @include tablet {
    @include wrapper-form;

    .form__item--radio & {
      padding: 0;

      border: 1px solid rgba(205, 205, 205, 0.5);
    }
  }

  @include desktop {
    padding: 0;

    .form__item--contacts & {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      padding-left: 2.85%;
      padding-right: 2.85%;
    }

    .form__item--add & {
      padding-left: 2.85%;
      padding-right: 2.85%;
    }
  }
}

.form__button-wrapper {
  @include wrapper;
  text-align: center;

  @include tablet {
    @include wrapper-form;
    display: flex;
    align-items: center;
    margin-bottom: 73px;
  }

  @include desktop {
    margin-bottom: 83px;
  }
}

.form__button {
  @include text-options(16px, 20px, 400, $bg-white-color, $font-title);
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: none;

  @include tablet {
    width: auto;
    margin-bottom: 0;
    margin-right: 9.6%;
    padding: 16px 10.3%;

    font-size: 20px;
    line-height: 20px;
  }

  @include desktop {
    margin-right: 6.8%;
    padding: 16px 17%;

    white-space: nowrap;
  }
}

.form__small {
  @include p-model;
  display: block;
  margin-bottom: 31px;

  @include tablet {
    margin: 0;
  }
}
