.main-nav__wrapper {
  @include wrapper;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid $border-table-color;
}

.main-nav__logo {
  width: 67.69%;
  min-height: 65px;
  padding-top: 11px;

  text-align: center;
  cursor: pointer;
  outline: 2px solid blue;
}

.main-nav__toggle {
  position: relative;
  width: 25px;
  height: 19px;

  font-size: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: -1px;
  right: 0;

  width: 25px;
  height: 2px;

  background-color: $subtitle-color;
  box-shadow: 0 8px 0 0 $subtitle-color, 0 16px 0 0 $subtitle-color;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 27px;
    height: 2px;

    background-color: $subtitle-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

/* .main-nav--nojs .main-nav__toggle {
  display: none;
} */

.main-nav__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
}

.main-nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 66px;

  border-bottom: 1px solid $border-table-color;
}

.main-nav__link {
  font: inherit;

  @include text-options (20px, 20px, 500, $title-color, $font-title);
  text-transform: uppercase;
}
