.option__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 23px;
  }
}

.option__label {
  @include text-options(16px, 18px, 400, $subtitle-color, $font-title);
  flex-shrink: 0;

  text-transform: uppercase;

  &--text {
    margin-right: 5.3%;
  }

  &--radio {
    position: relative;
    flex-grow: 1;
    padding-left: 16.3%;
  }

  .option__input + &--radio::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $border-table-color;
    border-radius: 50%;
  }

  .option__input:checked + &--radio::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 9px;
    width: 12px;
    height: 12px;
    background-color: $main-green-color;
    border: 2px solid $main-green-color;
    border-radius: 50%;
  }
}

.option__input {
  width: auto;

  &--text {
    width: 100%;
    padding: 16px 5% 12px 5%;

    border: 1px solid rgba(205, 205, 205, 0.5);

    &::placeholder {
      @include text-options(16px, 18px, 400, $text-color, $font-title);
      text-transform: uppercase;
      vertical-align: middle;
    }
  }
}
