.page-footer {
  @include wrapper;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 23px;

  text-align: center;

  background-color: $bg-grey-color;

  /*   @include tablet {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

    margin: 0 auto;
  } */
}

.page-footer__logo {
  padding-bottom: 27px;

  border-bottom: 1px solid #d9d9d9;
}

.page-footer__icon {
  fill: $title-color;
}

.page-footer__social {
  @include list-reset;
}

/* .page-footer__logo {
  display: none;

  @include tablet {
    display: block;
    width: 102px;
    margin-right: 78px;

    &:hover .page-footer__icon,
    &:focus .page-footer__icon {
      fill: @design-color;
    }

    &:active .page-footer__icon {
      opacity: 0.3;
    }
  }

  @include desktop {
    margin-right: 78px;
  }
}

.page-footer__icon {
  fill: @text-color-dark;
}
 */
