.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 21px;
  padding-bottom: 13px;

  border-bottom: 1px solid #d9d9d9;

  @include tablet {
    width: 20%;

    border-bottom: none;
  }
}

.social-list__item {
  width: 20%;
}

.social-list__link {
  font-size: 0;
}

.social-list__icon {
  fill: #676767;
}
